Backup/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="RetailPlusService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRetailPlusService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PharmaSYSRetailPlusService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRetailPlusService_RefreshProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshProductList" />
  </wsdl:message>
  <wsdl:message name="IRetailPlusService_RefreshProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshProductListResponse" />
  </wsdl:message>
  <wsdl:message name="IRetailPlusService_RefillProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:RefillProductList" />
  </wsdl:message>
  <wsdl:message name="IRetailPlusService_RefillProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefillProductListResponse" />
  </wsdl:message>
  <wsdl:message name="IRetailPlusService_ConnectClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectClient" />
  </wsdl:message>
  <wsdl:message name="IRetailPlusService_ConnectClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectClientResponse" />
  </wsdl:message>
  <wsdl:message name="IRetailPlusService_DisconnectClient_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectClient" />
  </wsdl:message>
  <wsdl:message name="IRetailPlusService_DisconnectClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectClientResponse" />
  </wsdl:message>
  <wsdl:message name="IRetailPlusService_Notify_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Notify" />
  </wsdl:message>
  <wsdl:portType name="IRetailPlusService">
    <wsdl:operation name="RefreshProductList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetailPlusService/RefreshProductList" message="tns:IRetailPlusService_RefreshProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPlusService/RefreshProductListResponse" message="tns:IRetailPlusService_RefreshProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefillProductList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetailPlusService/RefillProductList" message="tns:IRetailPlusService_RefillProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPlusService/RefillProductListResponse" message="tns:IRetailPlusService_RefillProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetailPlusService/ConnectClient" message="tns:IRetailPlusService_ConnectClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPlusService/ConnectClientResponse" message="tns:IRetailPlusService_ConnectClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IRetailPlusService/DisconnectClient" message="tns:IRetailPlusService_DisconnectClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPlusService/DisconnectClientResponse" message="tns:IRetailPlusService_DisconnectClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <wsdl:output wsaw:Action="http://tempuri.org/IRetailPlusService/Notify" message="tns:IRetailPlusService_Notify_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IRetailPlusService" type="tns:IRetailPlusService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRetailPlusService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RefreshProductList">
      <soap12:operation soapAction="http://tempuri.org/IRetailPlusService/RefreshProductList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefillProductList">
      <soap12:operation soapAction="http://tempuri.org/IRetailPlusService/RefillProductList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectClient">
      <soap12:operation soapAction="http://tempuri.org/IRetailPlusService/ConnectClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisconnectClient">
      <soap12:operation soapAction="http://tempuri.org/IRetailPlusService/DisconnectClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <soap12:operation soapAction="http://tempuri.org/IRetailPlusService/Notify" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RetailPlusService">
    <wsdl:port name="NetTcpBinding_IRetailPlusService" binding="tns:NetTcpBinding_IRetailPlusService">
      <soap12:address location="net.tcp://localhost:8675/PharmaSYSRetailPlusService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8675/PharmaSYSRetailPlusService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>